.catalog-present
  .catalog-present_collections
    padding: 3em
    padding-left: 8em
    margin: 0
    display: inline-block
    width: 25em
  .catalog-present_area
    height: 100%
    &.catalog-present_area--left
      float: left
      width: 45%
    &.catalog-present_area--right
      float: right
      width: 55%
.catalog-present-title
  padding-left: 6em
  .catalog-present-title_title
    color: #5d5d5d
    letter-spacing: 2.5em
    font-size: 1.5em
    opacity: .2
    text-transform: uppercase
    padding: 1em 0
    margin: 0
  .catalog-present-title_sub-title
    font-size: 2.2em
    text-transform: uppercase
    padding: 1em 0
    margin: 0

.catalog-present-collections
  .catalog-present-collections_selector
    background-position: left top
    background-repeat: no-repeat
    padding: 1em 0 0.4em 0
    color: #5d5d5d
    border-bottom: solid 1px #d8d8d8
    list-style-type: none
    position: relative
    &:last-child
      border-bottom: 0
    &:before
      content: ''
      width: 2.25em
      height: 2.25em
      position: absolute
      left: 0
      bottom: 1em
    &.girl
      &:before
        background: url('./../images/girl.png') no-repeat
    &.men
      a
        line-height: 2em
      &:before
        background: url('./../images/men.png') no-repeat
    &.travel
      &:before
        background: url('./../images/travel.png') no-repeat
    &:hover
      background: black
      &:before
        background-position-y: -2.25em
    a
      color: #5d5d5d
      text-decoration: none
      text-transform: uppercase
      font-size: 1.5em
      line-height: 1.6em
      display: block
      padding-left: 2.1em