.catalog-present
  .catalog-title
    padding-left: 5em
    display: inline-block
    .catalog-title_title
      color: #5d5d5d
      letter-spacing: 2.5em
      font-size: 1.5em
      opacity: .2
      text-transform: uppercase
      padding: 1em 0
      margin: 0
    .catalog-title_sub-title
      font-size: 2.2em
      text-transform: uppercase
      padding: 1em 0
      margin: 0

  .catalog-left
    float: left
    width: 45%
    height: 100%
  .catalog-right
    float: right
    width: 55%
    height: 100%
  .catalog-collections
    padding: 3em
    padding-left: 8em
    margin: 0
    display: inline-block
    width: 25em
    .catalog-collections_item
      background-position: left top
      background-repeat: no-repeat
      padding: 10px 0
      height: 36px
      color: #5d5d5d
      border-bottom: solid 1px #d8d8d8
      list-style-type: none
      a
        color: #5d5d5d
        text-decoration: none
        text-transform: uppercase
        font-size: 20px
        line-height: 36px
        display: block