.navigation-vertical
  background: #fff
  position: fixed
  width: 150px
  z-index: 10000
  top: 0
  height: 100%
  &.navigation-vertical-right
    right: 0
  &.navigation-vertical-left
    left: 0
.menu-section
  border-bottom: 1px #b68653 solid
  margin-left: 20px
  padding-bottom: 32px
  padding-top: 32px
  &.menu-section--main-links
    .menu-section_menu-item
      font-weight: bold
      padding: 5px
      padding-left: 0
  .menu-section_menu-item
    font-size: 18px
    padding: 10px
    padding-left: 0
    color: #5d5d5d
    display: block
    text-decoration: none
    line-height: 1
    &:active
      text-decoration: none
    &:hover
      text-decoration: none
      background: black
      color: #fff
    &:visited
      text-decoration: none



