.navigation-vertical
  background: #fff
  position: fixed
  width: 150px
  z-index: 10000
  top: 0
  height: 100%
  &.navigation-vertical-right
    right: 0
  &.navigation-vertical-left
    left: 0
.menu-section
  border-bottom: 1px #b68653 solid
  margin-left: 1.5em
  padding-bottom: 2em
  padding-top:  2em
  &.menu-section--main-links
    .menu-section_menu-item
      padding: 0.6em 0.5em 0.7em 0
      a
        font-weight: bold
        text-transform: none
  .menu-section_menu-item
    padding: 0.6em 1em 0.7em 0
    display: block
    p
      display: inline-block
      padding: 2px
    a
      text-transform: uppercase
      line-height: 1
      font-size: 1em
      color: #5d5d5d
      text-decoration: none
      &:active
        text-decoration: none
        color: #fff
        p
          background: black
      &:hover
        text-decoration: none
        color: #fff
        p
          background: black
      &:visited
        text-decoration: none



