.main-present
  width: 84.5%
  height: 900px
  margin: 0 auto
  display: block
  overflow: hidden
  .owl-carousel__item
    img
      max-width: 100%
      height: auto
  .main-present_play-btn
    position: absolute
    background: url('./../images/main-present-play.png') no-repeat
    width: 177px
    height: 177px
    top: 300px
    right: 300px
  .main-present_call-btn
    position: absolute
    top: 30px
    left: 200px
    z-index: 10000
    border: 1px #a36f1b solid
    padding: 10px 15px
    background: white
    p
      padding: 0
      margin: 0
      font-size: 20px
      color: #a36f1b
