.section-about
  height: 100%
  .section-about_area
    display: flex
    border-bottom: 1px solid #d8d8d8
    justify-content: center
    height: 45%
    .section-about_area_info
      align-items: center
      display: flex
      padding: 3em 6em
      flex-basis: 40%
      flex-grow: 1
      justify-content: space-around
      .section-about_area-text
        width: 100%
        flex-grow: 1
        padding-left: 5em
        display: block
      .section-about_area-photo
        flex-basis: 40%
      .section-about_area-label
        flex-grow: 1
        width: 300px
        height: 237px
.map
  display: flex
  height: 35em
  .map-contacts
    flex-grow: 1
    flex-basis: 40%
    display: flex
    flex-direction: column
    .map-contacts_info
      background: black
      height: 100%
      box-sizing: border-box
    .map-contacts_title
      letter-spacing: 2em
      font-size: 1em
      text-transform: uppercase
      padding: 1em 0 1em 2em
      text-align: center
      color: #5d5d5d
      border-right: 1px solid #d8d8d8
  .map-geo
    flex-grow: 2
    flex-basis: 40%
    display: flex
    flex-direction: column
    .map-geo_yandex
      display: none
      width: 100%
      height: 100%
      &.active
        display: inline-flex
.contacts
  color: #ffffff
  padding: 3em 6em 0em
  .contacts_info
    display: flex
    padding-bottom: 2em
    .contacts_info-item
      flex-grow: 1
      border-right: 1px solid #a3701c
      text-align: center
      font-family: RobotoLight
      &:first-child
        text-align: left
      &:last-child
        border: none
        text-align: right
  .contacts_add-info
    p
      color: #a3701c
      font-family: RobotoLightItalic
      font-size: 1.1em
  .contacts_city
    padding-bottom: 1em
    .contacts_city-info-table
      display: flex
      justify-content: space-around
      width: 100%
      padding-bottom: .5em
      p
        font-family: RobotoLight
    .contacts_city-name
      color: #a3701c
      font-weight: bold
      font-size: 1em
      position: relative
      padding-bottom: 0.5em
      &:before
        content: ''
        position: absolute
        width: 1.2em
        height: 1.2em
        left: -2em
        top: 0
        background: url("/images/city_marker.png") no-repeat
    .dots
      background: url('/images/dot.gif') repeat-x bottom
      color: white
      filter: invert(100%)
      flex-grow: 20
    .field
      color: white
      flex-grow: 1
.geo-cities
  display: flex
  .geo-cities_city
    color: #5d5d5d
    cursor: pointer
    padding: 1.4em 5em
    border-right: 1px solid #d8d8d8
    &.active
      color: #a3701c
    &:hover
      color: #a3701c
@media (max-width: 1560px)
  .map
    height: 70%
@media (max-width: 1500px)
  .map
    height: 60%
  .map-geo
    display: flex
    flex-direction: column
  .geo-cities .geo-cities_city
    padding: 1.4em 5em
  .map .map-contacts
    display: flex
    flex-direction: column
  .section-about .section-about_area
    height: 45%
  img.section-about_area-photo
    width: 50%
    height: auto
  .section-about .section-about_area .section-about_area_info .section-about_area-label
    width: 35%
    height: auto
    opacity: 0.2
    position: absolute
  .section-about .section-about_area .section-about_area_info .section-about_area-text
    padding-left: 0
  .contacts
    padding: 1em 1.5em 0 3.5em
  .contacts .contacts_city .contacts_city-name:before
    left: -1.5em
  .contacts .contacts_add-info p
    font-size: 0.8em
    font-weight: bold
  .map .map-contacts .map-contacts_title
    padding: 1em 0 1em 2em
    text-align: center
@media (max-width: 1390px)
  .map
    height: 70%

@media (max-width: 1280px)
  .section-about_map.map
    display: block
  .map
    height: 100%
    flex-direction: column
    .map-geo
      display: flex
      flex-direction: column
      flex-basis: 100%
    .map-contacts
      display: flex
      flex-direction: column
      flex-basis: 100%
      .map-contacts_title
        padding: 1em 0 1em 2em
        text-align: center
  .geo-cities .geo-cities_city
    padding: 1.4em 5em
  .section-about .section-about_area
    height: 45%
  img.section-about_area-photo
    width: 50%
    height: auto
  .section-about .section-about_area .section-about_area_info .section-about_area-label
    width: 35%
    height: auto
    opacity: 0.2
    position: absolute
  .section-about .section-about_area .section-about_area_info .section-about_area-text
    padding-left: 0
  .contacts

    padding: 1em 1.5em 30px 3.5em
  .contacts .contacts_city .contacts_city-name:before
    left: -1.5em
  .contacts .contacts_add-info p
    font-size: 0.8em
    font-weight: bold

@media (max-width: 1180px)
  .map
    height: 100%
    flex-direction: column
    .map-geo
      display: flex
      flex-direction: column
      flex-basis: 100%
    .map-contacts
      display: flex
      flex-direction: column
      flex-basis: 100%
      .map-contacts_title
        padding: 1em 0 1em 2em
        text-align: center
  .geo-cities .geo-cities_city
    padding: 1.4em 5em
  .section-about .section-about_area
    height: 45%
  img.section-about_area-photo
    width: 50%
    height: auto
  .section-about .section-about_area .section-about_area_info .section-about_area-label
    width: 35%
    height: auto
    opacity: 0.2
    position: absolute
  .section-about .section-about_area .section-about_area_info .section-about_area-text
    padding-left: 0
  .contacts

    padding: 1em 1.5em 0 3.5em
  .contacts .contacts_city .contacts_city-name:before
    left: -1.5em
  .contacts .contacts_add-info p
    font-size: 0.8em
    font-weight: bold

