.catalog-views
  display: flex
  align-items: center
  flex-direction: column
  opacity: 0
  &.active
    opacity: 1
  .catalog-views_close-btn
    position: absolute
    top: 3em
    right: 6em
    display: none
    padding: 2px
    &:hover
      background: black
      color: white
    &.active
      display: flex
  .catalog-views_title
    color: #5d5d5d
    letter-spacing: 2.5em
    font-size: 2em
    opacity: .2
    text-transform: uppercase
    padding: 1em 0
  .views_navigator
    display: flex
    .views_navigator_selector
      color: #5d5d5d
      text-decoration: none
      text-transform: uppercase
      font-size: 1.5em
      line-height: 2em
      display: block
      margin: 0 1em
      padding-left: 3em
      position: relative
      width: 10em
      &:last-child
        width: 7em
      &:before
        content: ''
        width: 1.5em
        height: 1.5em
        position: absolute
        left: 1em
        bottom: .3em
        overflow: hidden
      &.girl
        &:before
          background: url('./../images/girl.png') no-repeat
      &.man
        a
          line-height: 2em
        &:before
          background: url('./../images/men.png') no-repeat
      &.travel
        &:before
          background: url('./../images/travel.png') no-repeat
      &:hover, &.active
        background: black
        color: white
        &:before
          background-position-y: -1.5
.custom-catalog
  position: absolute
  bottom: -500px
  width: 65%
  padding-top: 2em
  height: 0
  opacity: 0
  &.active
    height: 60%
    opacity: 1
    position: relative
    bottom: 0
  .custom-catalog_desc
    font-family: RobotoLight
    .custom-catalog_view
.catalog-view
  padding-top: 5em
  .owl-nav
    position: absolute
    top: 45%
    .owl-prev
      left: -11em
    .owl-next
      right: -11em
  .owl-dots
    display: flex
    justify-content: center
    counter-reset: dots
    position: absolute
    top: 2em
    width: 100%
    .owl-dot
      &:before
        counter-increment: dots
        content: counter(dots)
        padding: 6px 2px
        margin: 0 4px
      &.active
        &:before
          background: black
          color: white
          font-size: 1.3em
          line-height: .8
  .catalog-view_item
    .catalog-view_item_img-wrapper
      height: 70%
      width: 100%
      max-height: 26em
      overflow: hidden
      img
        height: 100%
        width: 100%
    .catalog-view_item_info
.view-info
  text-align: center
  padding-top: 2em
  .view-info_title
  .view-info_describe
    .view-info_describe-name
      font-weight: bold
      font-family: "Roboto Medium"
    font-family: RobotoLight
  .view-info_price
    color: #a3701c
    font-weight: bold
    font-size: 1em
    padding-top: 0.5em
.close
  position: relative
  display: inline-block
  width: 1em
  height: 1em
  overflow: hidden
  margin-left: 0.5em
  &:hover
    &::before, &:after
      background: blue
  &:before, &:after
    content: ''
    position: absolute
    height: 1px
    width: 100%
    top: 50%
    left: 0

    background: #a3701c
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(-45deg)
@media (max-width: 1500px)

  .catalog-views .views_navigator .views_navigator_selector
    margin: 0 0

@media (min-width: 1025px) and (max-width: 1280px)

  .catalog-views .views_navigator .views_navigator_selector
    margin: 0 0
@media only screen and (min-width: 320px) and (max-width: 768px)
  .catalog-views .views_navigator
    display: none
  .catalog-view
   padding-top: 5em
  .owl-nav
    position: absolute
    display: none
    top: 45%
    .owl-prev
      left: -11em
    .owl-next
      right: -11em
  .catalog-views .catalog-views_title
    letter-spacing: 1.5em
    font-size: 1.5em
