.catalog-views
  display: flex
  align-items: center
  flex-direction: column
  .catalog-views_title
    color: #5d5d5d
    letter-spacing: 2.5em
    font-size: 2em
    opacity: .2
    text-transform: uppercase
    padding: 1em 0
  .views_navigator
    display: flex
    .views_navigator_selector
      color: #5d5d5d
      text-decoration: none
      text-transform: uppercase
      font-size: 1.5em
      line-height: 2em
      display: block
      margin: 0 1em
      padding-left: 3em
      position: relative
      width: 10em
      &:last-child
        width: 7em
      &:before
        content: ''
        width: 1.5em
        height: 1.5em
        position: absolute
        left: 1em
        bottom: .3em
        overflow: hidden
      &.girl
        &:before
          background: url('./../images/girl.png') no-repeat
      &.man
        a
          line-height: 2em
        &:before
          background: url('./../images/men.png') no-repeat
      &.travel
        &:before
          background: url('./../images/travel.png') no-repeat
      &:hover
        background: black
        color: white
        &:before
          background-position-y: -1.5
.custom-catalog
  height: 60%
  width: 70%
  padding-top: 2em
  .custom-catalog_desc
    font-family: RobotoLight
    .custom-catalog_view
.catalog-view
  padding-top: 5em
  .owl-nav
    position: absolute
    top: 45%
    .owl-prev
      left: -9em
    .owl-next
      right: -9em

  .owl-dots
    display: flex
    justify-content: center
    counter-reset: dots
    position: absolute
    top: 2em
    width: 100%
    .owl-dot
      &:before
        counter-increment: dots
        content: counter(dots)
        padding: 6px 2px
      &.active
        &:before
          background: black
          color: white
          font-size: 1.3em
          line-height: .8
  .catalog-view_item
    .catalog-view_item_img-wrapper
      height: 70%
      width: 100%
      img
        height: 100%
        width: 100%
    .catalog-view_item_info
.view-info
  .view-info_title
  .view-info_describe