.section-stock
  height: 80%
  margin: 0 15em
  width: auto
  h2
    text-transform: uppercase
    font-size: 4em
    text-align: center
  .owl-carousel
    height: 65%
    .owl-stage-outer
      height: 100%
      .owl-stage
        height: 100%
        .owl-item
          height: 100%
          background: black
          .owl-carousel__item
            img
              width: 100%
              height: auto
  .owl-nav
    position: absolute
    top: -25%
    .owl-prev
      left: 0
    .owl-next
      right: 0
  .owl-dots
    display: none
